<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.casi_register">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.location.gps" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" /> -->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- TakePhoto Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.other.ZScoreCalculator"
            android:exported="false" />
        <activity
            android:name=".ui.list_activity.FormsReportCluster"
            android:exported="false"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.list_activity.FormsReportDate"
            android:exported="false"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.other.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login_activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.sections.Section01CS1Activity"
            android:exported="false"
            android:label="@string/childScreening"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.sections.followup.SelectedChildrenListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.sections.Section01CS2Activity"
            android:exported="false"
            android:label="@string/childScreening"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.sections.Section02CSFPActivity"
            android:exported="false"
            android:label="@string/childFollowup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.sections.Section03WSActivity"
            android:exported="false"
            android:label="@string/wraScreening"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.sections.Section04WSFPActivity"
            android:exported="false"
            android:label="@string/wraFollowup"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.other.EndingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".core.AndroidDatabaseManager"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SyncActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".utils.DownloadFileService" />
    </application>

</manifest>